---
import Description from '../../components/Description.astro'
import Title from '../../components/Title.astro'
import Layout from '../../layouts/Layout.astro'
import ModsList from '../../components/ModsList'
import { getAllMods } from '../../mods'

const mods = (await getAllMods({})) || []
---

<Layout title="Zen Mods">
  <main class="mt-32 2xl:mt-0">
    <header class="mb-10 mt-52 flex w-full flex-col justify-center border-dark">
      <div class="mx-auto flex flex-col gap-6 px-8 lg:w-1/2">
        <div>
          <Title>Zen Mods</Title>
          <Description>
            Zen Mods is a collection of themes and plugins for Zen Browser. You
            can find a theme for every mood and a plugin for every need.
          </Description>
        </div>
      </div>
    </header>

    <!-- Importing ModList component -->
    <ModsList mods={mods} client:visible />
  </main>
</Layout>
