---
import Description from '../../components/Description.astro'
import Title from '../../components/Title.astro'
import Layout from '../../layouts/Layout.astro'
import ModsList from '../../components/ModsList'
import { getAllMods } from '../../mods'

const mods = (await getAllMods()) || []
---

<Layout title="Zen Mods">
  <main class="mt-32 2xl:mt-0">
    <header class="mb-10 mt-32 flex w-full flex-col justify-center border-dark">
      <div class="mx-auto flex flex-col gap-6 px-8 lg:w-1/2">
        <div>
          <Title>Zen Mods</Title>
          <Description>
            Zen Mods is a collection of themes and plugins for Zen Browser. You
            can find a theme for every mood and a plugin for every need. Each Mod is
            created by the community and reviewed by maintainers of the Zen Browser
            project before posting here. Zen Mods only have access to change CSS
            in your browser. These Mods may automatically update in your browser
            when its author releases a new version, but only after maintainers of
            the Zen Browser have approved the update. You may uninstall Mods by
            accessing settings and then the Zen Mods tab.
          </Description>
        </div>
      </div>
    </header>

    <!-- Importing ModList component -->
    <ModsList mods={mods} client:load />
  </main>
</Layout>
