---
import Features from '~/components/Features.astro'
import Layout from '~/layouts/Layout.astro'
import { getLocale, getUI } from '~/utils/i18n'
export { getStaticPaths } from '~/utils/i18n'

const locale = getLocale(Astro)

const {
  routes: { welcome },
  layout,
} = getUI(locale)
---

<Layout title={layout.welcome.title} description={layout.welcome.description}>
  <main class="container">
    <Features titles={welcome.title} />
  </main>
</Layout>
