@import 'tailwindcss';

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

@theme inline {
  --color-paper: var(--zen-paper);
  --color-coral: #f76f53;
  --color-dark: var(--zen-dark);
  --color-subtle: var(--zen-subtle);
  --color-muted: var(--zen-muted);
  --color-zen-blue: #6287f5;
  --color-zen-green: #63f78b;
  --font-junicode: Junicode, serif;
  --animate-fadeIn: fadeIn 2s ease-in-out;
  --animate-breathe: breathe 5s ease-in-out infinite;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes breathe {
    50% {
      transform: scale(1.2);
    }

    0%,
    100% {
      transform: scale(1);
    }
  }
}

@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >= 40rem) {
    padding-inline: 1.5rem;
  }

  @media (width >= 48rem) {
    padding-inline: 1.5rem;
  }

  @media (width >= 64rem) {
    max-width: 1024px;
    padding-inline: 1.5rem;
  }

  @media (width >= 80rem) {
    max-width: 1280px;
    padding-inline: 2rem;
  }
}

@font-face {
  font-family: 'Junicode';
  src: url('/fonts/JunicodeVF-Roman-subset.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Junicode-Italic';
  src: url('/fonts/JunicodeVF-Italic-subset.woff2') format('woff2');
  font-display: swap;
}

:root {
  --zen-paper: #f2f0e3;
  --zen-dark: #2e2e2e;
  --zen-muted: rgba(0, 0, 0, 0.05);
  --zen-subtle: rgba(0, 0, 0, 0.05);
}

:root[data-theme='dark'] {
  --zen-paper: #1f1f1f;
  --zen-dark: #d1cfc0;
  --zen-muted: rgba(255, 255, 255, 0.05);
  --zen-subtle: rgba(255, 255, 255, 0.1);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body,
  body > * {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'width' 100;
  }

  h1 .italic {
    font-family: 'Junicode-Italic', serif;
    font-weight: 400;
    font-feature-settings: 'swsh' 0;
    font-style: normal;
  }
}

.zen-link {
  @apply text-coral underline underline-offset-4;
}

.svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}
