---
import Button from '../components/Button.astro'
import Description from '../components/Description.astro'
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="About - Zen Browser">
  <main class="min-h-screen relative flex flex-col py-24 justify-center items-center">
    <div class="text-center p-4 mb-24 lg:w-1/2">
      <Title>About Us</Title>
      <Description>
        We are simply a group of developers and designers who care about your experience on the web. We believe that the internet should be a place where you can explore, learn, and connect without worrying about your data being collected.
      </Description>
      <Button href="/donate" class="w-fit mx-auto mt-4" isPrimary>A little help?</Button>
    </div>
    <div class="w-full relative flex flex-col lg:flex-row justify-center items-center">
      <div class="p-8 lg:pr-24 flex flex-col lg:w-1/3">
        <div class="font-bold text-6xl">Main Team</div>
        <Description>
          This list shows the main team members who are working hard to bring you the best browsing experience.
        </Description>
        <div class="mt-4">
          <ul>
              <li class="text-sm"><a href="https://github.com/mr-cheff"><strong class="font-bold">Mauro Baladés</strong></a><span class="opacity-60">: Creator, Main Developer</span></li>
              <li class="text-sm mt-1"><strong class="italic">Oscar Gonzalez</strong><span class="opacity-60"> Site Reliability Engineer (SRE) and code signing.</span></li>
              <li class="text-sm mt-1"><a href="https://janheres.eu/"><strong class="font-bold">Jan Heres</strong></a><span class="opacity-60">: Active contributor and helps with MacOS builds</span></li>
              <li class="text-sm mt-1"><a href="https://github.com/BrhmDev"><strong class="font-bold">BrhmDev</strong></a><span class="opacity-60">: Active contributor with great contributions</span></li>
              <li class="text-sm mt-1"><a href="https://thatcanoa.org/"><strong class="font-bold">Canoa</strong></a><span class="opacity-60">: Active contributor, and very active in issue handling and website management</span></li>
              <li class="text-sm mt-1"><a href="https://cybrneon.xyz/"><strong class="font-bold">Adam</strong></a><span class="opacity-60">: Branding and design</span></li>
              <li class="text-sm mt-1"><a href="https://github.com/kristijanribaric"><strong class="font-bold">kristijanribaric</strong></a><span class="opacity-60">: Active contributor</span></li>
              <li class="text-sm mt-1"><a href="https://github.com/n7itro"><strong class="font-bold">n7itro</strong></a><span class="opacity-60">: Active contributor and release notes writer</span></li>
              <li class="text-sm mt-1"><a href="https://josuegalre.netlify.app/"><strong class="font-bold">Bryan Galdámez</strong></a><span class="opacity-60">: Huge contributor on theme functionalities</span></li>
              <li class="text-sm mt-1"><a href="https://iamjafeth.com/"><strong class="font-bold">Jafeth Garro</strong></a><span class="opacity-60">: Documentation writer</span></li>
              <li class="text-sm mt-1"><a href="https://github.com/LarveyOfficial/"><strong class="font-bold">Larvey</strong></a><span class="opacity-60">: AUR maintainer</span></li>
              <li class="text-sm mt-1"><strong class="italic">Daniel García</strong><span class="opacity-60">: MacOS certificate and app notarization maintainer</span></li>
            </ul>
        </div>
      </div>
      <div class="hidden lg:block h-full w-[1px] bg-dark absolute opacity-15"></div>
      <div class="p-8 lg:pl-24 flex flex-col lg:w-1/3">
        <div class="font-bold text-6xl">Contributors</div>
        <Description>
          Here are all the wonderful people that decided to contribute to the project! The first set of images are from the desktop repository, and the second set is from the website repository.
        </Description>
        <img src="https://contributors-img.web.app/image?repo=zen-browser/desktop" alt="Contributors" class="mt-4" />
        <img src="https://contributors-img.web.app/image?repo=zen-browser/www" alt="Contributors (website)" class="mt-4" />
      </div>
    </div>
  </main>
</Layout>
