---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Description from '../components/Description.astro';
import Button from '../components/Button.astro';
import { Github, Lock, Check, HeartHandshake, Shield } from 'lucide-astro'
---

<Layout title="Welcome to Zen">
    <main>
        <header id="header" class="h-screen w-full flex flex-col items-center gap-24 pt-36 overflow-hidden">
            <div class="flex flex-col items-center">
                <Title class:list={["text-center"]}>The browser made for <i>you</i></Title>
                <Description class:list={["text-center"]}>Beautifully designed, privacy-focused, and packed with features.<br />We care about your experience, not your data.</Description>
				<div class="gap-6 flex mt-6">
					<Button isPrimary>Download</Button>
					<Button>mods page</Button>
				</div>
			</div>
			<img src="/assets/browser.png" alt="Zen browser" class="" />
        </header>
		<div class="h-screen bg-dark text-paper flex gap-24 justify-center items-center p-24">
			<div class:list={["w-1/3 ml-24"]}>
				<Title>Designed to maximize your productivity</Title>
				<Description>Our browser is designed to be as minimal as possible, so you can focus on what matters most.</Description>
			</div>
			<img src="/assets/browser.png" alt="Zen browser" class:list={["w-1/2"]} />
		</div>
		<div class="lg:h-screen">
			<div class="lg:flex w-full h-full">
				<div class="w-full bg-zen-blue border-r border-dark p-24 lg:py-0 flex items-center justify-center flex-col">
					<div>
						<div class="flex gap-2">
							<Lock />
							<HeartHandshake /> 
							<Shield />
						</div>
						<Title>Private, Open Source, and Secure</Title>
						<Description>Our browser is built on the Firefox engine, so you can trust that your data is safe and secure.</Description>
						<div class="mt-4">
							<Description class="flex gap-2">
								<Check />
								Always on the latest Firefox
							</Description>
							<Description class="flex gap-2">
								<Check />
								No accounts needed, no tracking and no ads
							</Description>
							<Description class="flex gap-2">
								<Check />
								Open source and community-driven
							</Description>
						</div>
						<div class="flex gap-4 mt-6">
							<Button isBordered>
								<Github />
								Source Code
							</Button>
							<Button>
								Learn more
							</Button>
						</div>
					</div>
				</div>
				<div class="w-full bg-zen-green border-l border-dark p-24 lg:py-0 flex items-center justify-center flex-col">

				</div>
			</div>
			<div class="w-full border-2 border-dark bg-coral py-4 flex">

			</div>
		</div>
    </main>
</Layout>
