---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Community from '../components/Community.astro'
import Features from '../components/Features.astro'
---

<Layout title="Zen Browser" isHome>
  <main>
    <Hero />
    <Features showSponsors />
    <Community />
  </main>
</Layout>
<style>
  @keyframes headerSlideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  #header-browser-image {
    animation: headerSlideIn 0.5s ease-in-out;
  }
</style>
<script></script>
