---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro' 
---

<Layout title="Welcome to Zen">
  <main>
    <Hero />
    <!-- <div class="h-[500px]" /> -->
  </main>
</Layout>
<style>
  @keyframes headerSlideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  #header-browser-image {
    animation: headerSlideIn 0.5s ease-in-out;
  }
</style>
<script>
  import { inView, animate } from 'motion'

  inView('#browser-image-productivity', (entry) => {
    animate(
      '#browser-image-productivity',
      {
        opacity: [0, 1],
        transform: ['translateX(20px)', 'translate(0,0)'],
      },
      {
        delay: 0.9,
        duration: 0.3,
        ease: 'easeInOut',
      }
    )
  })
</script>
