---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Description from '../components/Description.astro';
import Button from '../components/Button.astro';
---

<Layout title="Welcome to Zen">
    <main>
        <header id="header" class="h-screen w-full flex flex-col items-center justify-center absolute bg-paper gap-12">
            <div class="flex flex-col items-center">
                <Title class:list={["text-center"]}>The browser made for <i>you</i></Title>
                <Description class:list={["text-center"]}>Beautifully designed, privacy-focused, and packed with features.<br />We care about your experience, not your data.</Description>
            </div>
            <Button isPrimary>Download</Button>
        </header>
    </main>
</Layout>

<style is:global>
	@keyframes welcomeFade {
		0% {
			opacity: 0;
			transform: translateY(-60px) scale(0.9);
		}
		100% {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}

	@keyframes welcomeText {
		0% {
			opacity: 0;
			transform: translateY(40px) scale(0.9);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	#header h1 {
		animation: welcomeFade .7s ease-in-out forwards;
	}

	#header p {
		opacity: 0;
		animation: welcomeText .7s ease-in-out forwards;
		animation-delay: .8s;
	}

	#header button {
		opacity: 0;	
		animation: welcomeText .7s ease-in-out forwards;
		animation-delay: 1.6s;
	}
</style>