---
import Title from '../components/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Privacy Policy - Zen">
  <main class="mx-auto mt-52 w-1/2 pb-24">
    <Title id="privacy-policy">Privacy Policy</Title>
    <div class="ml-4 font-bold">Last updated: 2025-02-5</div>
    <Title class="mt-16 !text-4xl font-bold" id="introduction"
      >Introduction</Title
    >
    <p>
      Welcome to Zen Browser! Your privacy is our priority. This Privacy Policy
      outlines the types of personal information we collect, how we use it, and
      the steps we take to protect your data when you use Zen Browser.
    </p>
    <div class="mx-12 my-12 flex gap-4 font-bold">
      We don't sell data - We don't collect data - We don't track you
    </div>
    <Title
      class="mt-16 !text-4xl font-bold"
      id="1-information-we-do-not-collect"
      >1. Information We Do Not Collect</Title
    >
    <p>
      Zen Browser is designed with privacy in mind. We do not collect, store, or
      share any of your personal data. Here’s what that means:
    </p>
    <h3 class="mt-4 text-xl !font-bold" id="-1-1-no-telemetry-">
      <strong class="font-bold">1.1. No Telemetry</strong>
    </h3>
    <p>We do not collect any telemetry data or crash reports.</p>
    <p>
      Zen Browser has tripped out telemetry built into Mozilla Firefox. We have
      removed all telemetry data collection and crash reports.
    </p>
    <h3 class="mt-4 text-xl !font-bold" id="-1-2-no-personal-data-collection-">
      <strong class="font-bold">1.2. No Personal Data Collection</strong>
    </h3>
    <p>
      Zen Browser does not collect any personal information such as your IP
      address, browsing history, search queries, or form data.
    </p>
    <h3 class="mt-4 text-xl !font-bold" id="-1-3-no-third-party-tracking-">
      <strong class="font-bold">1.3. No Third-Party Tracking</strong>
    </h3>
    <p>
      We do not allow third-party trackers or analytics tools to operate within
      Zen Browser. Your browsing activity remains entirely private and is not
      shared with any third party. Mozilla is not considered a third party as it
      is the base of Zen Browser.
    </p>
    <h3 class="mt-4 text-xl !font-bold" id="-1-3-no-third-party-tracking-">
      <strong class="font-bold">1.4. External connections made at startup</strong>
    </h3>
    <p>
      Zen Browser may make external connections at startup to check for updates
      and ensure the browser is up to date on plugins, addons, check for connectivity
      and Geolocation/push notifications services in order to comply with
      web standards. We, at Zen, do not collect any data from these connections, but
      they may be logged by third-party services or websites you visit. These
      connections are necessary for the proper functioning of the browser and
      are not used for tracking or profiling purposes. They can be disabled
      through the browser flags (about:config).
    </p>
    <Title
      class="mt-16 !text-4xl font-bold"
      id="2-information-stored-locally-on-your-device"
      >2. Information Stored Locally on Your Device</Title
    >
    <h3 class="mt-4 text-xl !font-bold" id="-2-1-browsing-data-">
      <strong class="font-bold">2.1. Browsing Data</strong>
    </h3>
    <p>
      Zen Browser stores certain data locally on your device to enhance your
      browsing experience. This includes:
    </p>
    <ul>
      <li>
        <strong class="font-bold">Cookies</strong>: Cookies are stored locally
        on your device and are not shared with Zen Browser or any third party.
        You have full control over the management of cookies through the
        browser’s settings.
      </li>
      <li>
        <strong class="font-bold">Cache and Temporary Files</strong>: Zen
        Browser may store cache files and other temporary data locally to
        improve performance. These files can be cleared at any time through the
        browser’s settings.
      </li>
    </ul>
    <h3 class="mt-4 text-xl !font-bold" id="-2-2-settings-and-preferences-">
      <strong class="font-bold">2.2. Settings and Preferences</strong>
    </h3>
    <p>
      Any customizations, settings, and preferences you make within Zen Browser
      are stored locally on your device. We do not have access to or control
      over this data.
    </p>
    <Title class="mt-16 !text-4xl font-bold" id="3-sync-feature"
      >3. Sync Feature</Title
    >
    <p>
      Zen Browser offers a &quot;Sync&quot; feature, which is implemented using
      Mozilla Firefox&#39;s Sync feature. This feature allows you to synchronize
      your bookmarks, history, passwords, and other data across multiple
      devices. For this feature to work, your data is encrypted and stored on
      Mozilla’s servers and is treated in accordance with their Privacy Policy.
      We, at Zen, cannot view any of this data.
    </p>
    <ul>
      <li>
        <a
          class="zen-link"
          href="https://www.mozilla.org/en-US/privacy/mozilla-accounts/"
          >Mozilla Firefox Sync</a
        >
      </li>
      <li>
        <a
          class="zen-link"
          href="https://support.mozilla.org/en-US/kb/how-firefox-securely-saves-passwords#:~:text=Firefox%20Desktop%20encrypts%20your%20passwords,cryptography%20to%20obscure%20your%20passwords."
          >This is how we store your passwords</a
        >
      </li>
    </ul>
    <Title class="mt-16 !text-4xl font-bold" id="3-add-ons-and-mods"
      >4. Add-ons and &quot;Mods&quot;</Title
    >
    <p>
      You can install Add-ons from addons.mozilla.org. Zen Browser periodically
      checks for updates to these Add-ons. 
      <br />
      You can also install &quot;Mods&quot; from zen-browser.app/mods. These Mods
      are hosted by our services and follow the same privacy policy our website. We
      do not collect any data from these Mods, they are purely static content 
      that is downloaded to your device.
    </p>
    <Title class="mt-16 !text-4xl font-bold" id="4-data-security"
      >5. Data Security</Title
    >
    <p>
      Although Zen Browser does not collect your data, we are committed to
      protecting the information that is stored locally on your device and, if
      you use the Sync feature, the encrypted data stored on Mozilla&#39;s
      servers. We recommend that you use secure passwords, enable device
      encryption, and regularly update your software to ensure your data remains
      safe.
    </p>
    <ul>
      <li>
        Note that most of the security measures are taken care by Mozilla
        Firefox.
      </li>
    </ul>
    <Title class="mt-16 !text-4xl font-bold" id="6-your-control"
      >6. Your Control</Title
    >
    <h3 class="mt-4 text-xl !font-bold" id="-5-1-data-deletion-">
      <strong class="font-bold">5.1. Data Deletion</strong>
    </h3>
    <p>
      You have full control over all data stored locally on your device by Zen
      Browser. You can clear your browsing data, cookies, and cache at any time
      using the browser’s settings.
    </p>
    <Title class="mt-16 !text-4xl font-bold" id="7-our-website-and-services"
      >7. Our Website and Services</Title
    >
    <p>
      Zen Browser's website and services do not use any third-party analytics, 
      tracking, or CDN services. We do not collect any personal information from
      users visiting our website. The website is hosted on Cloudflare but with 
      analytics and tracking disabled, Cloudflare may collect some analytics data
      from HTTP requests in order to provide security and performance
      improvements. However, this data is not linked to any personal information
      and is not used for tracking purposes.
    </p>
    <h3 class="mt-4 text-xl !font-bold" id="-6-1-external-links-">
      <strong class="font-bold">7.1. External links</strong>
    </h3>
    <p>
      Zen Browser may contain links to external websites or services that are
      not owned or operated by us. We are not responsible for the content or
      privacy practices of these sites. We recommend that you review the privacy
      policies of these sites before providing them with any personal
      information.
    </p>
    <Title
      class="mt-16 !text-4xl font-bold"
      id="8-changes-to-this-privacy-policy"
      >8. Changes to This Privacy Policy</Title
    >
    <p>
      We may update this Privacy Policy from time to time to reflect changes in
      our practices or legal requirements. We will notify you of any significant
      changes by updating the effective date at the top of this policy.
      Continued use of Zen Browser after such changes constitutes your
      acceptance of the new terms.
    </p>
    <Title
      class="mt-16 !text-4xl font-bold"
      id="9-other-telemetry-done-by-mozilla-firefox"
      >9. Other telemetry done by Mozilla Firefox</Title
    >
    <p>
      We try to disable all telemetry data collection in Zen Browser. But, we
      may have missed some. Check the below links for more information.
    </p>
    <ul>
      <li>
        Please check <a
          class="zen-link"
          href="https://www.mozilla.org/en-US/privacy/"
          >Firefox Privacy Notice</a
        > for more information.
      </li>
    </ul>
    <Title class="mt-16 !text-4xl font-bold" id="10-contact-us"
      >10. Contact Us</Title
    >
    <p>
      If you have any questions or concerns about this Privacy Policy or Zen
      Browser, please contact us at:
    </p>
    <ul>
      <li>
        Discord: <a class="zen-link" href="https://discord.gg/zen-browser"
          >Zen Browser&#39;s Discord</a
        >
      </li>
      <li>
        GitHub: <a class="zen-link" href="https://github.com/zen-browser"
          >Organization</a
        >
      </li>
    </ul>
  </main>
</Layout>
<style>
  p,
  li {
    @apply opacity-55;
  }

  ul {
    @apply mt-4;
  }

  li {
    @apply ml-4 list-disc;
  }
</style>
