---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Privacy Policy - Zen">
  <main class="w-1/2 mx-auto mt-52 pb-24">
    <Title id="privacy-policy">Privacy Policy</Title>
    <div class="ml-4 font-bold">
      Last updated: 2024-08-12
    </div>
    <Title class="!text-3xl font-bold mt-4" id="introduction">Introduction</Title>
    <p>Welcome to Zen Browser! Your privacy is our priority. This Privacy Policy outlines the types of personal information we collect, how we use it, and the steps we take to protect your data when you use Zen Browser.</p>
    <div class="my-12 mx-12 flex gap-4 font-bold">
      We don't sell data - We don't collect data - We don't track you
    </div>
    <Title class="!text-3xl font-bold mt-4" id="1-information-we-do-not-collect">1. Information We Do Not Collect</Title>
    <p>Zen Browser is designed with privacy in mind. We do not collect, store, or share any of your personal data. Here’s what that means:</p>
    <ul>
    <li>Crash reports can be sent to Mozilla Firefox. But, we do not collect any crash reports. Crash reports are sent securely to Mozilla Firefox to help improve the stability of the browser. They do not contain any personal information.</li>
    </ul>
    <h3 class="!font-bold text-3xl mt-2" id="-1-1-no-telemetry-"><strong class="font-bold">1.1. No Telemetry</strong></h3>
    <p>We do not collect any telemetry data.</p>
    <p>However, you can opt-in to share telemetry data to Mozilla for the improvement of FireFox (the base upon which the Zen Browser is built). It will be treated in accordance with their Privacy Policy which you can read about <a href="https://www.mozilla.org/en-US/privacy/">here</a>.</p>
    <h3 class="!font-bold text-3xl mt-2" id="-1-2-no-personal-data-collection-"><strong class="font-bold">1.2. No Personal Data Collection</strong></h3>
    <p>Zen Browser does not collect any personal information such as your IP address, browsing history, search queries, or form data.</p>
    <h3 class="!font-bold text-3xl mt-2" id="-1-3-no-third-party-tracking-"><strong class="font-bold">1.3. No Third-Party Tracking</strong></h3>
    <p>We do not allow third-party trackers or analytics tools to operate within Zen Browser. Your browsing activity remains entirely private and is not shared with any third party. Mozilla is not considered a third party as it is the base of Zen Browser.</p>
    <Title class="!text-3xl font-bold mt-4" id="2-information-stored-locally-on-your-device">2. Information Stored Locally on Your Device</Title>
    <h3 class="!font-bold text-3xl mt-2" id="-2-1-browsing-data-"><strong class="font-bold">2.1. Browsing Data</strong></h3>
    <p>Zen Browser stores certain data locally on your device to enhance your browsing experience. This includes:</p>
    <ul>
    <li><strong class="font-bold">Cookies</strong>: Cookies are stored locally on your device and are not shared with Zen Browser or any third party. You have full control over the management of cookies through the browser’s settings.</li>
    <li><strong class="font-bold">Cache and Temporary Files</strong>: Zen Browser may store cache files and other temporary data locally to improve performance. These files can be cleared at any time through the browser’s settings.</li>
    </ul>
    <h3 class="!font-bold text-3xl mt-2" id="-2-2-settings-and-preferences-"><strong class="font-bold">2.2. Settings and Preferences</strong></h3>
    <p>Any customizations, settings, and preferences you make within Zen Browser are stored locally on your device. We do not have access to or control over this data.</p>
    <Title class="!text-3xl font-bold mt-4" id="3-sync-feature">3. Sync Feature</Title>
    <p>Zen Browser offers a &quot;Sync&quot; feature, this is implemented using Mozilla Firefox&#39;s Sync feature. This feature allows you to synchronize your bookmarks, history, passwords, and other data across multiple devices. For this feature to work, your data is encrypted and stored on Mozilla’s servers and is treated in accordance with their Privacy Policy. We, at Zen, cannot view any of this data.</p>
    <ul>
    <li><a href="https://www.mozilla.org/en-US/privacy/mozilla-accounts/">Mozilla Firefox Sync</a></li>
    <li><a href="https://support.mozilla.org/en-US/kb/how-firefox-securely-saves-passwords#:~:text=Firefox%20Desktop%20encrypts%20your%20passwords,cryptography%20to%20obscure%20your%20passwords.">This is how we store your passwords</a></li>
    </ul>
    <Title class="!text-3xl font-bold mt-4" id="4-data-security">4. Data Security</Title>
    <p>Although Zen Browser does not collect your data, we are committed to protecting the information that is stored locally on your device and, if you use the Sync feature, the encrypted data stored on Mozilla&#39;s servers. We recommend that you use secure passwords, enable device encryption, and regularly update your software to ensure your data remains safe.</p>
    <ul>
    <li>Note that most of the security measures are taken care by Mozilla Firefox.</li>
    </ul>
    <Title class="!text-3xl font-bold mt-4" id="5-your-control">5. Your Control</Title>
    <h3 class="!font-bold text-3xl mt-2" id="-5-1-data-deletion-"><strong class="font-bold">5.1. Data Deletion</strong></h3>
    <p>You have full control over all data stored locally on your device by Zen Browser. You can clear your browsing data, cookies, and cache at any time using the browser’s settings.</p>
    <h3 class="!font-bold text-3xl mt-2" id="-5-2-do-not-track-"><strong class="font-bold">5.2. Do Not Track</strong></h3>
    <p>Zen Browser automatically honors &quot;Do Not Track&quot; requests by default. We ensure that no tracking of your activity occurs, in compliance with this setting.</p>
    <Title class="!text-3xl font-bold mt-4" id="6-our-website-and-services">6. Our Website and Services</Title>
    <p>When you click on the &quot;Download&quot; button on our website, a number in the database is incremented to track the number of downloads. This is done to understand the popularity of the browser. No personal data is collected during the process.</p>
    <h3 class="!font-bold text-3xl mt-2" id="-6-1-external-links-"><strong class="font-bold">6.1.    External links</strong></h3>
    <p>Zen Browser may contain links to external websites or services that are not owned or operated by us. We are not responsible for the content or privacy practices of these sites. We recommend that you review the privacy policies of these sites before providing them with any personal information.</p>
    <Title class="!text-3xl font-bold mt-4" id="7-changes-to-this-privacy-policy">7. Changes to This Privacy Policy</Title>
    <p>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any significant changes by updating the effective date at the top of this policy. Continued use of Zen Browser after such changes constitutes your acceptance of the new terms.</p>
    <Title class="!text-3xl font-bold mt-4" id="8-other-telemetry-done-by-mozilla-firefox">8. Other telemetry done by Mozilla Firefox</Title>
    <p>We try to disable all telemetry data collection in Zen Browser. But, we may have missed some. Check the below links for more information.</p>
    <p>You can also optionally enable telemetry data collection and other Mozilla Research Studies in Zen Browser. This is disabled by default. You can enable it by going to the settings page.</p>
    <ul>
    <li>Please check <a href="https://www.mozilla.org/en-US/privacy/">Firefox Privacy Notice</a> for more information.</li>
    </ul>
    <Title class="!text-3xl font-bold mt-4" id="9-contact-us">9. Contact Us</Title>
    <p>If you have any questions or concerns about this Privacy Policy or Zen Browser, please contact us at:</p>
    <ul>
    <li>Discord: <a href="https://discord.gg/zen-browser">Zen Browser&#39;s Discord</a></li>
    <li>GitHub: <a href="https://github.com/zen-browser">Organization</a></li>
    </ul>
  </main>
</Layout>
