---
import Layout from '../layouts/Layout.astro'
import Features from '../components/Features.astro'
---

<Layout title="Welcome!">
  <main
    class="relative mx-auto flex flex-col items-center gap-24 px-6 lg:gap-0 lg:px-24"
  >
    <Features title1="Welcome" title2="to" title3="Zen!" />
  </main>
</Layout>
