.header-animated-button {
	animation: in-out-button infinite 1s;
}

@keyframes in-out-button {
	0% {
		transform: scale(1);
        opacity: 1;
	}
	50% {
		transform: scale(1.05);
        opacity: 1;
	}
	100% {
		transform: scale(1);
        opacity: 1;
	}
}
