#policy h1 {
	font-size: 2.5em;
	margin: 0.67em 0;
	font-weight: bold;
}

#policy {
	padding-top: 2.5em;
	margin-top: 4em;
}

#policy h1:first-child {
	margin-top: 0 !important;
}

#policy h2 {
	font-size: 2em;
	margin: 0.83em 0;
	font-weight: bold;
}

#policy h3 {
	font-size: 1.5em;
	margin: 1em 0;
	font-weight: semi-bold;
}

#policy ul {
	margin: 1em 0;
}

#policy li {
	list-style: circle;
	margin-left: 1.1em;
	font-size: 1.1em;
}

/* Link styles */
#policy a {
	color: #007bff;
	transition: color 0.2s ease-in-out;
}

#policy a:hover {
	text-decoration: underline;
	color: #0056b3;
}

#policy hr {
	margin: 2em 0;
	border: 1px solid #ddd;
}

#policy p {
	margin: 1em 0;
	line-height: 1.6;
}

code {
	font-size: 0.8em;
	background-color: var(--surface);
	padding: 0.2em 0.4em;
	border: 1px solid light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.2));
	border-radius: 0.3em;
}
