---
const {
  class: className,
  isPrimary,
  isAlert,
  isBordered,
  href,
  id,
  extra,
} = Astro.props
---

{
  href ? (
    <a
      id={id}
      {...extra}
      href={href}
      class:list={[
        'flex items-center justify-center gap-2 rounded-full px-6 py-2 transition-transform duration-200',
        className,
        isPrimary
          ? 'bg-dark text-paper'
          : isAlert
            ? 'bg-red-300 text-dark'
            : !isBordered
              ? 'border-2 border-dark hover:bg-dark hover:text-paper'
              : '!transition-bg border-2 border-dark hover:bg-dark hover:text-paper hover:shadow-sm',
      ]}
    >
      <slot />
    </a>
  ) : (
    <button
      id={id}
      {...extra}
      class:list={[
        'flex items-center justify-center gap-2 rounded-full px-6 py-2 transition-transform duration-200',
        className,
        isPrimary
          ? 'bg-dark text-paper'
          : isAlert
            ? 'bg-red-300 text-dark'
            : !isBordered
              ? 'border-2 border-dark hover:bg-dark hover:text-paper'
              : '!transition-bg border-2 border-dark hover:bg-dark hover:text-paper hover:shadow-sm',
      ]}
    >
      <slot />
    </button>
  )
}
<style>
  button,
  a {
    font-size: 0.9rem;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
</style>
