---
import { getTitleAnimation } from '../animations'

const {
  class: className,
  isPrimary,
  isAlert,
  isBordered,
  href,
  id,
  extra,
} = Astro.props
---

{
  href ? (
    <a
      className="transition-all h-fit flex items-center justify-center gap-2 rounded-full border-2 border-dark bg-dark p-2 text-sm text-paper shadow-sm hover:bg-paper hover:text-dark hover:duration-200 md:px-4"
      client:load
      {...getTitleAnimation(0.2)}
      id={id}
      {...extra}
      href={href}
      class:list={[
        'transition-bg flex items-center justify-center gap-2 rounded-full px-6 py-2 transition-all duration-200',
        className,
        isPrimary
          ? 'border-2 border-dark bg-dark text-paper hover:bg-paper hover:text-dark'
          : isAlert
            ? 'bg-red-300 text-dark'
            : !isBordered
              ? 'border-2 border-dark hover:bg-dark hover:text-paper'
              : '!transition-bg border-2 border-dark hover:bg-dark hover:text-paper hover:shadow-sm',
      ]}
    >
      <slot />
    </a>
  ) : (
    <button
      className="transition-all h-fit flex items-center justify-center gap-2 rounded-full border-2 border-dark bg-dark p-2 text-sm text-paper shadow-sm hover:bg-paper hover:text-dark hover:duration-200 md:px-4"
      client:load
      {...getTitleAnimation(0.2)}
      id={id}
      {...extra}
      class:list={[
        'transition-bg flex items-center justify-center gap-2 rounded-full px-6 py-2 transition-all duration-200',
        className,
        isPrimary
          ? 'border-2 border-dark bg-dark text-paper hover:bg-paper hover:text-dark'
          : isAlert
            ? 'bg-red-300 text-dark'
            : !isBordered
              ? 'border-2 border-dark hover:bg-dark hover:text-paper'
              : '!transition-bg border-2 border-dark hover:bg-dark hover:text-paper hover:shadow-sm',
      ]}
    >
      <slot />
    </button>
  )
}
<style>
  button,
  a {
    font-size: 0.9rem;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
</style>
