---
// Circles.astro
const sizes = [216, 396, 576, 756]
const borderWidths = [20, 30, 40, 50]
const multiplier = 0.9;
---
<div id="circles" class="inset-0 overflow-hidden pointer-events-none -z-10">
  <div class="mx-auto opacity-10 lg:opacity-100">
    {[...Array(4)].map((_, i) => (
      <div class="absolute rounded-full border-coral -translate-x-1/2 -translate-y-1/2"
       style={{
        width: `${multiplier*sizes[i]}px`,
        height: `${multiplier*sizes[i]}px`,
        borderWidth: `${multiplier*borderWidths[i]}px`,
        }}
      />
      ))}
  </div>
</div>