---
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

// Custom breadcrumb data
const { titles, links, currentPath } = Astro.props;
const customCrumbs = [
  {
    text: titles.home,
    href: links.home,
  },
  {
    text: titles.mods,
    href: links.mods,    
  },
  {
    text: titles.modName, 
    href: currentPath    
  }
];
---

<nav class="absolute left-1/2 transform -translate-x-1/2 z-10 w-full flex justify-center top-[115px]">
  <Breadcrumbs crumbs={customCrumbs} schemaJsonScript={false}>
    <svg
      slot="separator"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </Breadcrumbs> 
</nav>

<style>    
    :root {            
        --visibility-truncated-breadcrumbs: visible;
        --position-truncated-breadcrumbs: relative;
    }
</style>