---
const { class: className } = Astro.props;
---

<p class:list={[className]}>
  <slot />
</p>
<style>
  h1 {
    font-size: 1.2rem;
    line-height: 1;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
</style>