---
import Title from '../components/Title.astro'
import Description from '../components/Description.astro'
import Button from '../components/Button.astro'
import Circles from '../components/Circles.astro'
import { Image } from 'astro:assets'
import myImage from '../assets/browser.png'
import { ArrowRight, Github, Twitter } from 'lucide-astro'
---

<footer
  id="footer"
  class="flex flex-col w-full p-4 lg:p-24 gap-24 md:gap-[15%] bg-coral border-t border-dark"
>
  <Title>Zen Browser</Title>
  <div class="flex flex-col justify-between w-full lg:flex-row gap-6">
    <Button isPrimary class="h-fit">
      Download
      <ArrowRight class="size-4" />
    </Button>
    <div class="gap-6 flex flex-col">
      <div class="flex flex-col gap-2">
        <Description class="!font-semibold">
          Follow Us
        </Description>
        <div class="opacity-80 flex gap-4">
          <a href="https://github.com/zen-browser" target="_blank" class="font-bold">
            <Github class="size-4" />
          </a>
          <a href="https://twitter.com/zen_browser" target="_blank" class="font-normal">
            <Twitter class="size-4" />
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <Description class="!font-semibold">
          About
        </Description>
        <div class="opacity-80 flex flex-col">
          <a href="/about" class="font-normal">About Us</a>
          <a href="/about" class="font-normal">About Us</a>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <Description class="!font-semibold">
        About
      </Description>
      <div class="opacity-80 flex flex-col">
        <a href="/about" class="font-normal">About Us</a>
        <a href="/about" class="font-normal">About Us</a>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <Description class="!font-semibold">
        About
      </Description>
      <div class="opacity-80 flex flex-col">
        <a href="/about" class="font-normal">About Us</a>
        <a href="/about" class="font-normal">About Us</a>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <Description class="!font-semibold">
        About
      </Description>
      <div class="opacity-80 flex flex-col">
        <a href="/about" class="font-normal">About Us</a>
        <a href="/about" class="font-normal">About Us</a>
      </div>
    </div>
  </div>
</footer>
