---
import Title from '../components/Title.astro'
import Description from '../components/Description.astro'
import Button from '../components/Button.astro'
import { Image } from 'astro:assets'
import myImage from '../assets/browsers.png'
import { ArrowRight } from 'lucide-astro';
import { motion } from 'motion/react';
import { getTitleAnimation } from '../animations'

let titleAnimationCounter = 0;
function getNewAnimationDelay() {
  titleAnimationCounter++;
  return titleAnimationCounter * 0.15;
}

function getHeroTitleAnimation() {
  return getTitleAnimation(getNewAnimationDelay());
}

---

<header
  id="header"
  class="flex pt-32 pb-32 md:pb-28 md:pt-0 md:min-h-screen w-full flex-col items-center text-center gap-[20%] lg:gap-[15%]"
>
  <div class="flex flex-col items-center h-full justify-center">
    <Title class='relative text-left px-12 lg:px-0 md:text-center leading-[108px] md:!text-7xl lg:!text-9xl !font-normal'>
      <motion.span client:load {...getHeroTitleAnimation()}>
        Welcome
      </motion.span>
      <motion.span client:load {...getHeroTitleAnimation()}>
        to
      </motion.span>
      <br class="hidden md:block" /> 
      <motion.span client:load {...getHeroTitleAnimation()}>
        a
      </motion.span>
      <motion.span client:load {...getHeroTitleAnimation()} className='italic'>
        calmer
      </motion.span>
      <motion.span client:load {...getHeroTitleAnimation()}>
        internet
      </motion.span>
      <motion.div className="absolute top-0 right-0 rounded-full py-1 px-4 !font-bold bg-coral text-paper text-base !rotate-8" client:load {...getHeroTitleAnimation()}>
        beta out now!
      </motion.span>
    </Title>
    <motion.span client:load {...getHeroTitleAnimation()}>
      <Description class='text-left px-12 lg:px-0 md:text-center'
        >Beautifully designed, privacy-focused, and packed with features.<br
        />We care about your experience, not your data.</Description
      >
    </motion.span>
    <div class="w-2/3 md:w-fit mt-6 gap-3 sm:gap-6 flex flex-col md:flex-row">
      <motion.span client:load {...getHeroTitleAnimation()}>
        <Button class="w-full" href="/download" isPrimary>
          Download
          <ArrowRight class="size-4" />
        </Button>
      </motion.span>
      <motion.span client:load {...getHeroTitleAnimation()}>
        <Button href="#features">Start Exploring</Button>
      </motion.span>
    </div>
  </div>
</header>
<motion.span client:load {...getHeroTitleAnimation()} className="relative">
  <Image src={myImage} alt="Zen browser" class="-translate-y-[30%] mx-auto" loading="eager" />
</motion.span>
