
---
import Title from '../components/Title.astro'
import Description from '../components/Description.astro'
import Button from '../components/Button.astro'
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import { ArrowRight, ChevronDown, Download, DownloadCloud } from 'lucide-astro'
import Logo from './Logo.astro';
import LogoSmall from './LogoSmall.astro';
import { ThemeSwitch } from 'free-astro-components'
---

<nav
  id="nav-bar"
  class="fixed flex justify-between w-full items-center lg:pt-6 lg:px-6 z-20 top-0 left-0"
>
  <Astronav>
    <MenuItems class="w-full lg:w-fit lg:rounded-full p-3 backdrop-blur-2xl text-paper bg-dark dark:bg-paper dark:shadow-md mx-auto flex gap-2 lg:gap-16 px-4">
      <a class="flex items-center mr-3 hidden md:block" href="/">
        <Logo class="h-full w-full"/>
      </a>
      <a class="flex items-center mr-3 block md:hidden" href="/">
        <LogoSmall class="h-full w-full"/>
      </a>
      <div class="gap-6 flex items-center text-xs sm:text-sm lg:text-base text-dark">
        <Dropdown class="group">
          <button class="flex items-center text-paper">
            <span>Getting Started</span>
            <ChevronDown class="group-open:rotate-180 transform transition-transform duration-200" />
          </button>
          <DropdownItems>
            <div class="navbar-dropdown w-full lg:w-fit top-16 left-0 right-1/4">
              <a class="dropdown-item row-span-2 bg-dark/5" href="/mods">
                <div class="dropdown-title">
                  Zen Mods
                </div>
                <div class="dropdown-description">
                  Customize your browsing experience with Zen Mods.
                </div>
                <Button isPrimary class="mt-auto">
                  Try Zen Mods
                  <ArrowRight class="size-4" />
                </Button>
              </a>
              <a class="dropdown-item"  href="/release-notes">
                <div class="dropdown-title">
                  Release Notes
                </div>
                <div class="dropdown-description">
                  Stay up to date with the latest features and improvements.
                </div>
              </a>
              <a class="dropdown-item" href="https://discord.gg/zen-browser">
                <div class="dropdown-title">
                  Discord
                </div>
                <div class="dropdown-description">
                  Join our community on Discord to chat with other Zen users!
                </div>
              </a>
            </div>
          </DropdownItems>
        </Dropdown>
        <Dropdown class="group">
          <button class="flex items-center text-paper">
            <span>Useful Links</span>
            <ChevronDown class="group-open:rotate-180 transform transition-transform duration-200" />
          </button>
          <DropdownItems>
            <div class="navbar-dropdown w-full lg:w-fit left-0 !grid-cols-1 gap-1 top-16 lg:left-1/3 lg:right-1/4">
              <a class="dropdown-item"  href="/donate">
                <div class="dropdown-title">
                  Donate ❤️
                </div>
                <div class="dropdown-description">
                  Support the development of Zen Browser with a donation.
                </div>
              </a>
              <a class="dropdown-item" href="/about">
                <div class="dropdown-title">
                  About Us 🌟
                </div>
                <div class="dropdown-description">
                  Learn more about the team behind Zen Browser.
                </div>
              </a>
              <a class="dropdown-item" href="https://docs.zen-browser.app">
                <div class="dropdown-title">
                  Documentation
                </div>
                <div class="dropdown-description">
                  Learn how to use Zen Browser with our documentation.
                </div>
              </a>
              <a class="dropdown-item" href="https://github.com/zen-browser" target="_blank">
                <div class="dropdown-title">
                  GitHub
                </div>  
                <div class="dropdown-description">
                  Contribute to the development of Zen Browser on GitHub.
                </div>
              </a>
            </div>
          </DropdownItems>
        </Dropdown>
        <a class="items-center hidden lg:block text-paper" href="/mods">
          <span>Mods</span>
        </a>
      </div>
      <div class="flex gap-4 ml-auto">
        <div id="theme-switcher" class="block ml-auto xl:hidden flex items-center justify-center">
          <ThemeSwitch label="" class="theme-switcher-small"/>
        </div>
        <Button href="/download" class="ml-auto bg-paper" isPrimary>
          <span class="hidden md:flex items-center gap-2 text-dark">
            Download
            <ArrowRight class="size-4" />
          </span>
          <span class="md:hidden text-dark">
            <Download class="size-4" />
          </span>
        </Button>
      </div>
    </MenuItems>
  </Astronav>
  <div id="theme-switcher" class="hidden xl:block py-0 w-fit lg:w-fit lg:rounded-full border-dark right-0 border-b-2 lg:border-2 px-1 absolute backdrop-blur-2xl bg-dark dark:shadow-md mx-0 md:mx-4 flex gap-2 lg:gap-20 font-bold text-lg items-center">
    <ThemeSwitch label="" class="p-1" />
  </div>
</nav>
<style>
  .navbar-dropdown {
    @apply absolute bg-paper shadow-sm rounded-lg border-2 border-dark p-3 grid gap-2 grid-cols-2;

    & .dropdown-item {
      @apply flex gap-2 p-4 flex-col rounded-lg select-none cursor-pointer transition-colors duration-200;

      &:hover {
        @apply bg-muted;
      }

      & .dropdown-title {
        @apply font-bold;
      }

      & .dropdown-description {
        @apply text-sm;
      }
    }
  }
</style>
<style is:global>
  #theme-switcher * {
    @apply text-paper;
  }
  #theme-switcher *:hover {
    @apply text-coral;
  }
  .theme-switcher-small {
    max-width: 18px;
    max-height: 18px;
  }
</style>
