
---
import Title from '../components/Title.astro'
import Description from '../components/Description.astro'
import Button from '../components/Button.astro'
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import { ArrowRight, ChevronDown } from 'lucide-astro'
import Logo from './Logo.astro';
import { ThemeSwitch } from 'free-astro-components'
---

<nav
  id="nav-bar"
  class="fixed flex justify-between w-full items-center pt-6 px-6 z-10 top-0 left-0"
>
  <Astronav>
    <MenuItems class="w-fit rounded-full border-dark border-2 p-2 backdrop-blur-2xl bg-paper dark:bg-paper dark:shadow-md mx-auto flex gap-2 lg:gap-20">
      <a class="font-bold text-lg items-center flex gap-2" href="/">
        <Logo class="text-dark" /> <span class="hidden lg:block">zen browser</span>
      </a>
      <div class="gap-6 flex items-center">
        <Dropdown class="group">
          <button class="flex items-center">
            <span>Getting Started</span>
            <ChevronDown class="group-open:rotate-180 transform transition-transform duration-200" />
          </button>
          <DropdownItems>
            <div class="navbar-dropdown top-16 left-0 right-1/4">
              <a class="dropdown-item row-span-2 bg-dark/5" href="/mods">
                <div class="dropdown-title">
                  Zen Mods
                </div>
                <div class="dropdown-description">
                  Customize your browsing experience with Zen Mods.
                </div>
                <Button isPrimary class="mt-auto">
                  Try Zen Mods
                  <ArrowRight class="size-4" />
                </Button>
              </a>
              <a class="dropdown-item"  href="/release-notes">
                <div class="dropdown-title">
                  Release Notes
                </div>
                <div class="dropdown-description">
                  Stay up to date with the latest features and improvements.
                </div>
              </a>
              <a class="dropdown-item" href="https://discord.gg/zen-browser">
                <div class="dropdown-title">
                  Discord
                </div>
                <div class="dropdown-description">
                  Join our community on Discord to chat with other Zen users!
                </div>
              </a>
            </div>
          </DropdownItems>
        </Dropdown>
        <Dropdown class="group">
          <button class="flex items-center">
            <span>Useful Links</span>
            <ChevronDown class="group-open:rotate-180 transform transition-transform duration-200" />
          </button>
          <DropdownItems>
            <div class="navbar-dropdown !grid-cols-1 gap-1 top-16 left-1/3 right-1/4">
              <a class="dropdown-item"  href="/donate">
                <div class="dropdown-title">
                  Donate ❤️
                </div>
                <div class="dropdown-description">
                  Support the development of Zen Browser with a donation.
                </div>
              </a>
              <a class="dropdown-item" href="/about">
                <div class="dropdown-title">
                  About Us 🌟
                </div>
                <div class="dropdown-description">
                  Learn more about the team behind Zen Browser.
                </div>
              </a>
              <a class="dropdown-item" href="https://docs.zen-browser.app">
                <div class="dropdown-title">
                  Documentation
                </div>
                <div class="dropdown-description">
                  Learn how to use Zen Browser with our documentation.
                </div>
              </a>
              <a class="dropdown-item" href="https://github.com/zen-browser" target="_blank">
                <div class="dropdown-title">
                  GitHub
                </div>  
                <div class="dropdown-description">
                  Contribute to the development of Zen Browser on GitHub.
                </div>
              </a>
            </div>
          </DropdownItems>
        </Dropdown>
        <a class="flex items-center" href="/mods">
          <span>Mods</span>
        </a>
      </div>
      <Button href="/download" isPrimary>
        Download
        <ArrowRight class="size-4" />
      </Button>
    </MenuItems>
  </Astronav>
  <div id="theme-switcher" class="w-fit rounded-full border-dark border-2 p-2 backdrop-blur-2xl bg-paper dark:bg-paper dark:shadow-md">
    <ThemeSwitch label="Toggle theme" class="" />
  </div>
</nav>
<style>
  .navbar-dropdown {
    @apply absolute bg-paper shadow-sm rounded-lg border-2 border-dark p-3 grid gap-2 grid-cols-2;

    & .dropdown-item {
      @apply flex gap-2 p-4 flex-col rounded-lg select-none cursor-pointer transition-colors duration-200;

      &:hover {
        @apply bg-muted;
      }

      & .dropdown-title {
        @apply font-bold;
      }

      & .dropdown-description {
        @apply text-sm;
      }
    }
  }
</style>
<style is:global>
  #theme-switcher * {
    @apply !text-dark;
  }
</style>