---
import { motion } from 'motion/react'
import Title from '../components/Title.astro'
import Description from '../components/Description.astro'
import Button from '../components/Button.astro'
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from 'astro-navbar'
import { ArrowRight, ChevronDown, Download, DownloadCloud } from 'lucide-astro'
import Logo from './Logo.astro'
import { ThemeSwitch } from 'free-astro-components'
import { getTitleAnimation } from '../animations.ts'
---

<nav
  id="nav-bar"
  class="relative z-20 hidden w-full items-center justify-between lg:flex lg:px-6 lg:pt-3"
>
  <Astronav>
    <MenuItems
      class="relative mx-auto flex w-full justify-between gap-2 bg-paper p-2 lg:w-3/4 lg:min-w-fit"
    >
      <a class="flex items-center gap-2 text-lg font-bold" href="/">
        <Logo class="text-coral" />
        <span class="hidden lg:block">zen browser</span>
      </a>
      <div class="mx-auto flex">
        <div class="flex items-center gap-6 text-xs sm:text-sm lg:text-base">
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Getting Started</span>
              <ChevronDown
                class="size-4 transform transition-transform duration-200 group-open:rotate-180 md:ml-2"
              />
            </button>
            <DropdownItems>
              <motion.div
                className="navbar-dropdown"
                {...getTitleAnimation(0, 0.3, false)}
                client:load
              >
                <a class="dropdown-item bg-dark/5 row-span-2" href="/mods">
                  <div class="dropdown-title">Zen Mods</div>
                  <div class="dropdown-description">
                    Customize your browsing experience with Zen Mods.
                  </div>
                  <Button isPrimary class="mt-auto">
                    Try Zen Mods
                    <ArrowRight class="size-4" />
                  </Button>
                </a>
                <a class="dropdown-item" href="/release-notes">
                  <div class="dropdown-title">Release Notes</div>
                  <div class="dropdown-description">
                    Stay up to date with the latest features and improvements.
                  </div>
                </a>
                <a class="dropdown-item" href="https://discord.gg/zen-browser">
                  <div class="dropdown-title">Discord</div>
                  <div class="dropdown-description">
                    Join our community on Discord to chat with other Zen users!
                  </div>
                </a>
              </motion.div>
            </DropdownItems>
          </Dropdown>
          <Dropdown class="group">
            <button class="flex items-center">
              <span>Useful Links</span>
              <ChevronDown
                class="size-4 transform transition-transform duration-200 group-open:rotate-180 md:ml-2"
              />
            </button>
            <DropdownItems>
              <motion.div
                className="navbar-dropdown !grid-cols-1 gap-1"
                {...getTitleAnimation(0, 0.3, false)}
                client:load
              >
                <a class="dropdown-item" href="/donate">
                  <div class="dropdown-title">Donate ❤️</div>
                  <div class="dropdown-description">
                    Support the development of Zen Browser with a donation.
                  </div>
                </a>
                <a class="dropdown-item" href="/about">
                  <div class="dropdown-title">About Us 🌟</div>
                  <div class="dropdown-description">
                    Learn more about the team behind Zen Browser.
                  </div>
                </a>
                <a class="dropdown-item" href="https://docs.zen-browser.app">
                  <div class="dropdown-title">Documentation</div>
                  <div class="dropdown-description">
                    Learn how to use Zen Browser with our documentation.
                  </div>
                </a>
                <a
                  class="dropdown-item"
                  href="https://github.com/zen-browser"
                  target="_blank"
                >
                  <div class="dropdown-title">GitHub</div>
                  <div class="dropdown-description">
                    Contribute to the development of Zen Browser on GitHub.
                  </div>
                </a>
              </motion.div>
            </DropdownItems>
          </Dropdown>
          <a class="hidden items-center lg:block" href="/mods">
            <span>Mods</span>
          </a>
        </div>
      </div>
      <div class="flex items-center gap-2 lg:gap-4">
        <div id="theme-switcher" class="ml-auto md:mr-2">
          <ThemeSwitch label="" class="px-1 py-2" />
        </div>
        <Button href="/download" class="ml-auto" isPrimary>
          <span class="hidden items-center gap-2 md:flex">
            Download
            <ArrowRight class="size-4" />
          </span>
          <span class="md:hidden">
            <Download class="size-4" />
          </span>
        </Button>
      </div>
    </MenuItems>
  </Astronav>
</nav>

<style>
  .navbar-dropdown {
    @apply absolute left-1/2 mt-2 grid !-translate-x-1/2 !transform grid-cols-2 gap-2 rounded-lg border-2 border-dark bg-paper p-3 shadow-sm;
    & .dropdown-item {
      @apply flex cursor-pointer select-none flex-col gap-2 rounded-lg p-4 transition-colors duration-200;

      &:hover {
        @apply bg-muted;
      }

      & .dropdown-title {
        @apply font-bold;
      }

      & .dropdown-description {
        @apply text-sm;
      }
    }
  }
</style>
<style is:global>
  #theme-switcher * {
    @apply text-dark;
  }
</style>
