
---
import Title from '../components/Title.astro'
import Description from '../components/Description.astro'
import Button from '../components/Button.astro'
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";
import { ArrowRight, ChevronDown } from 'lucide-astro'
---

<nav
  id="nav-bar"
  class="fixed flex justify-between w-full items-center pt-6 px-6 z-10 top-0 left-0" 
>
  <Astronav>
    <MenuItems class="rounded-full border-dark border-2 p-2 pl-4 backdrop-blur-xl bg-paper/80 hidden mx-auto lg:flex gap-12">
      <a class="font-bold text-lg items-center flex" href="/">
        zen browser
      </a>
      <ul class="gap-6 lg:flex items-center">
        <Dropdown class="group">
          <button class="flex items-center">
            <span>Getting Started</span>
            <ChevronDown class="group-open:rotate-180 transform transition-transform duration-200" />
          </button>
          <DropdownItems>
            <div class="navbar-dropdown">
              <a class="dropdown-item row-span-2 bg-dark/5" href="/mods">
                <div class="dropdown-title">
                  Zen Mods
                </div>
                <div class="dropdown-description">
                  Customize your browsing experience with Zen Mods.
                </div>
                <Button isPrimary class="mt-auto">
                  Try Zen Mods
                  <ArrowRight class="size-4" />
                </Button>
              </a>
              <a class="dropdown-item"  href="/release-notes">
                <div class="dropdown-title">
                  Release Notes
                </div>
                <div class="dropdown-description">
                  Stay up to date with the latest features and improvements.
                </div>
              </a>
              <a class="dropdown-item" href="https://discord.gg/zen-browser">
                <div class="dropdown-title">
                  Discord
                </div>
                <div class="dropdown-description">
                  Join our community on Discord to chat with other Zen users!
                </div>
              </a>
            </div>
          </DropdownItems>
        </Dropdown>
        <Dropdown class="group">
          <button class="flex items-center">
            <span>Useful Links</span>
            <ChevronDown class="group-open:rotate-180 transform transition-transform duration-200" />
          </button>
          <DropdownItems>
            <div class="navbar-dropdown !grid-cols-1 gap-1">
              <a class="dropdown-item"  href="/donate">
                <div class="dropdown-title">
                  Donate ❤️
                </div>
                <div class="dropdown-description">
                  Support the development of Zen Browser with a donation.
                </div>
              </a>
              <a class="dropdown-item" href="/about">
                <div class="dropdown-title">
                  About Us 🌟
                </div>
                <div class="dropdown-description">
                  Learn more about the team behind Zen Browser.
                </div>
              </a>
              <a class="dropdown-item" href="https://docs.zen-browser.app">
                <div class="dropdown-title">
                  Documentation
                </div>
                <div class="dropdown-description">
                  Learn how to use Zen Browser with our documentation.
                </div>
              </a>
              <a class="dropdown-item" href="https://github.com/zen-browser" target="_blank">
                <div class="dropdown-title">
                  GitHub
                </div>  
                <div class="dropdown-description">
                  Contribute to the development of Zen Browser on GitHub.
                </div>
              </a>
            </div>
          </DropdownItems>
        </Dropdown>
        <a class="flex items-center" href="/mods">
          <span>Mods</span>
        </a>
        <Button href="/download" isPrimary>
          Download
          <ArrowRight class="size-4" />
        </Button>
    </MenuItems>
  </Astronav>
</nav>
<style>
  .navbar-dropdown {
    @apply absolute bg-paper shadow-sm rounded-lg border border-dark p-3 grid gap-2 grid-cols-2;

    & .dropdown-item {
      @apply flex gap-2 p-4 flex-col rounded-lg select-none cursor-pointer transition-colors duration-200;

      &:hover {
        @apply bg-dark/10;
      }

      & .dropdown-title {
        @apply font-bold;
      }

      & .dropdown-description {
        @apply text-sm;
      }
    }
  }
</style>
