---
import { ReleaseNote } from "../release-notes"

export type Props = ReleaseNote;

const props = Astro.props;
---



<section class="relative flex flex-col border-t lg:flex-row mt-24 pt-24" id={props.version}>

</section> 