---
const { class: className, ...props } = Astro.props

import { icon, library } from '@fortawesome/fontawesome-svg-core'
import {
  faBluesky,
  faGithub,
  faMastodon,
  faReddit,
  faXTwitter,
} from '@fortawesome/free-brands-svg-icons'
import { cn } from '~/utils/merge'

library.add(faMastodon, faBluesky, faGithub, faXTwitter, faReddit)

const socialMediaLinks = [
  {
    href: 'https://github.com/zen-browser',
    ariaLabel: 'Visit Zen Browser on GitHub',
    icon: icon({ prefix: 'fab', iconName: 'github' }),
  },

  {
    href: 'https://x.com/zen_browser',
    ariaLabel: 'Visit Zen Browser on X',
    icon: icon({ prefix: 'fab', iconName: 'x-twitter' }),
  },
  {
    href: 'https://floss.social/@zenbrowser',
    ariaLabel: 'Visit Zen Browser on Mastodon',
    icon: icon({ prefix: 'fab', iconName: 'mastodon' }),
  },
  {
    href: 'https://bsky.app/profile/zen-browser.app',
    ariaLabel: 'Visit Zen Browser on Bluesky',
    icon: icon({ prefix: 'fab', iconName: 'bluesky' }),
  },
  {
    href: 'https://www.reddit.com/r/zen_browser',
    ariaLabel: 'Visit Zen Browser on Reddit',
    icon: icon({ prefix: 'fab', iconName: 'reddit' }),
  },
]
---

<ul class={cn('flex items-center gap-4 opacity-80', className)} {...props}>
  {
    socialMediaLinks.map(({ href, ariaLabel, icon }) => (
      <li>
        <a href={href} target="_blank" class="font-normal hover:opacity-50" aria-label={ariaLabel}>
          <Fragment set:html={icon.html} />
        </a>
      </li>
    ))
  }
</ul>
