---
import { cn } from '~/utils/merge'
const { class: className } = Astro.props
---

<h1
  class={cn(
    "text-dark leading-[0.9] mb-[0.4rem] font-junicode font-semibold text-5xl",
    className,
  )}
>
  <slot />
</h1>
