---
const { class: className } = Astro.props
---

<h1 class:list={["text-dark", className]}>
  <slot />
</h1>
<style>
  @font-face {
    font-family: 'Junicode';
    src: url('/fonts/JunicodeVF-Roman.woff2') format('woff2');
  }

  h1 {
    font-size: 6rem;
    line-height: 0.9;
    margin-bottom: 0.4rem;
    font-family: 'Junicode', serif;
    font-weight: 600;
    font-variation-settings: unset;
    font-style: normal;
  }
</style>
