---
import { cn } from '~/utils/merge'
const { class: className } = Astro.props
---

<h1
  class={cn('mb-[0.4rem] font-junicode text-5xl font-semibold leading-[0.9] text-dark', className)}
>
  <slot />
</h1>
