---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- no bot here for now -->
		<meta name="robots" content="noindex, nofollow, noarchive, nocache, nosnippet, noimageindex"/>
		<meta name="robots" content="noindex" />
		<!-- end -->
		<meta name="description" content="Beautifully designed, privacy-focused, and packed with features. We care about your experience, not your data." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="theme-color" content="#da755b">
		<!-- open graph -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/share-pic.webp" />
		<meta property="og:description" content="Beautifully designed, privacy-focused, and packed with features. We care about your experience, not your data.." />
		<meta property="og:color" content="#da755b3" />
		<!-- twitter card -->
		<meta name="twitter:card" content="summary_large_image" />
		 <!-- Fonts -->
		 <link rel="preconnect" href="https://fonts.bunny.net">
		 <link href="https://fonts.bunny.net/css?family=bricolage-grotesque:200,300,400,500,600,700,800|instrument-serif:400,400i" rel="stylesheet" />
	</head>
	<body class="bg-paper">
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
</style>
