---
interface Props {
  title: string
  isHome?: boolean
}

const { title, isHome } = Astro.props
import '@fontsource/bricolage-grotesque/400.css'
import NavBar from '../components/NavBar.astro'
import Footer from '../components/Footer.astro'
---

<script is:inline data-cfasync="false">
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme') ?? 'light'
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.setAttribute('data-theme', 'light')
  } else {
    document.documentElement.setAttribute('data-theme', 'dark')
  }

  window.localStorage.setItem('theme', theme)
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Zen Browser is built for speed, security, and true privacy. Download now to enjoy a beautifully-designed, distraction-free web experience packed with features."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-0.xml" />

    {isHome && (
      <!-- Injecting schema to homepage only (for SEO) -->
      <script is:inline type="application/ld+json">
      {
        "@context":"https://schema.org",
        "@type":"WebSite",
        "name":"Zen Browser",
        "url":"https://zen-browser.app/",
      }
      </script>)}

    <!-- ICO favicon as a fallback for browsers that don't support SVG favicons (Safari) -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="theme-color" content="#da755b" />
  
    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/share-pic.png" />
    <meta
      property="og:description"
      content="Zen Browser is built for speed, security, and true privacy. Download now to enjoy a beautifully-designed, distraction-free web experience packed with features."
    />
    <meta property="og:color" content="#da755b" />
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <!-- RSS Feed -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Zen Browser Release Notes"
      href={`${Astro.url.origin}/feed.xml`}
    />
  </head>
  <body class="overflow-x-hidden bg-paper text-dark">
    <div
      class="fixed inset-0 -z-10 h-full w-full animate-fadeIn items-center px-5 py-24 blur-2xl"
      style="background: radial-gradient(40% 65% at 50% 140%, #f76f53 0%, #00000000 100%); background-size: 2500px 1500px; background-position: center -350px; background-repeat: no-repeat;"
    >
    </div>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Junicode';
    src: url('/fonts/JunicodeVF-Roman.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Junicode-Italic';
    src: url('/fonts/JunicodeVF-Italic.woff2') format('woff2');
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --zen-paper: #f2f0e3;
    --zen-dark: #251d1d;
    --zen-muted: rgba(0, 0, 0, 0.05);

    &[data-theme='dark'] {
      --zen-paper: #251d1d;
      --zen-dark: #f2f0e3;
      --zen-muted: rgba(255, 255, 255, 0.05);
    }
  }

  html {
    scroll-behavior: smooth;
  }

  body,
  body > * {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-variation-settings: 'wdth' 100;
  }

  /* h1 .italic {
    font-family: 'Instrument Serif Italic', serif;
    font-weight: 400;
    font-feature-settings: 'swsh' 0;
    font-style: normal;
  } */
</style>
<style is:global>
  /* Declare a custom CSS class to make the icon look right */
  .svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
  }
</style>
