---
import Layout from '../../layouts/Layout.astro'
import ReleaseNoteItem from '../../components/ReleaseNoteItem.astro'
import { releaseNotes, releaseNotesTwilight } from '../../release-notes'
import Title from '../../components/Title.astro'
---

<Layout title="Release Notes - Zen Browser">
  <main
    class="flex h-full min-h-[1000px] flex-1 flex-col items-center justify-center py-4"
  >
    <div
      class="py-42 flex min-h-screen flex-col justify-center px-10 lg:px-10 xl:px-10 2xl:w-3/5"
    >
      <Title class="mt-48 text-4xl font-bold">Release Notes</Title>
      <p class="text-base opacity-55">
        Stay up to date with the latest changes to Zen Browser! Since the <a
          class="text-coral"
          href="#1.0.0-a.1">first release</a
        > till <a
          class="text-coral"
          href={`/release-notes#${releaseNotes[0].version}`}
          >{releaseNotes[0].version}</a
        >, we've been working hard to make Zen Browser the best it can be.
        Thanks everyone for your feedback! ❤️
      </p>
      {
        releaseNotesTwilight.features.length ||
        releaseNotesTwilight.fixes.length ? (
          <ReleaseNoteItem {...releaseNotesTwilight} isTwilight />
        ) : null
      }
      {releaseNotes.map((notes: any) => <ReleaseNoteItem {...notes} />)}
    </div>
  </main>
</Layout>
