---
import Layout from '../../layouts/Layout.astro'
import ReleaseNoteItem from '../../components/ReleaseNoteItem.astro';
import { releaseNotes } from '../../release-notes';
---

<Layout title="Release Notes">
  <main>
    {releaseNotes.map((notes) => (
        <div>
          release notes here
        </div>
    ))}
  </main>
</Layout>

